* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-color: #2b2a30;

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 7px solid #910a0a;
  height: 600px;
  width: 600px;
  border-radius: 500px;
  background: linear-gradient(0deg, #910a0a, #910a0a);
  /* background: #000000; */
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.timer {
  font-size: 250px;
  font-weight: lighter;
  font-family: 'Open Sans Condensed', sans-serif;
}
.start {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  font-family: 'Montserrat', sans-serif;
}
/* i {
  background: #585858;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.icon {
  margin-top: 30px;
}
i {
  color: #585858;
}
